header {
  height: 30vh;
  background-color: #a5bdbd;
  padding-top: 20px;
  text-align: center;

}

section {
  background-color: #eafafa;
  height: 70vh;
}
iframe {
  width: 100%;
  height: 99%;
  border: none;
}

label {
  font-weight: bold;
}

input[type="Text"] {
  background-color: #ffff00;
  font-size: 16px;
}
img{
  width: 200px;
  margin: auto;
  border-radius: 10px;

}
img:hover{
  transform: scalex(4);
  border: solid 2px black;
  transition: all 3s;
}
